@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if(TempData["Message"] != null && string.IsNullOrWhiteSpace(TempData["Message"].ToString()))
    {
        <p>@TempData["Message"].ToString()</p>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
